.game {
  width: 800px;
  height: 180px;
  position: relative;
  margin: auto;
  background-image: url(img/bg.png);
}

#mario {
  width: 50px;
  height: 50px;
  background-image: url(img/mario.png);
  background-size: 50px 50px;
  position: relative;
  top: 103px;
  left: 150px;
}

#bullet {
  width: 50px;
  height: 50px;
  background-image: url(img/bullet.png);
  background-size: 50px 50px;
  position: relative;
  top: 50px;
  left: 580px;
  animation: bulletMov 1.5s infinite linear;
}

@keyframes bulletMov {
  0% {
    left: 770px;
  }
  100% {
    left: 0px;
  }
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0%{
    top: 103px;
  }
  30%{
    top: 70px;
  }
  50%{
    top: 30px;
  }
  80%{
    top: 70px;
  }
  100%{
    top: 103px;
  }
}